header {
    text-align: center;
    background-color: indigo;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

span {
    color: blue;
}

main {
    display: flex;
    margin: 5rem auto;
    width: 80%;
    color:#fff;
    justify-content: space-between;
}